body{
    width:80vw; /*80% da viewport(janela de visão)*/
    margin:auto; /*define as margens automáticas(mesmo valor p/ ambos os "lados"*/
}

#artigos{
    background-color: aquamarine;
    display: flex;
}
MinhaCarreira{
    background-color: cornflowerblue;
}
MeusHobbies{
    background-color: blueviolet;
}
td{
    width: 100px;
    text-align: center;
    padding: 5px;
}

table,
th,
td{
    border: 2px solid black;
    border-collapse: collapse;
}